<% page.posts.forEach(post => { %>
  <div class="card">
    <article class="card card-content">
      <a href="<%= url_for(post.path) %>">
        <h1 class="post-title">
          <%= post.title %>
        </h1>
      </a>
      <% if(post.thumbnail) { %>
        <div class="post-image">
          <img 
            src="<%= post.thumbnail %>" 
            alt="<%= post.title %> image" 
            class="image lozad">
        </div>
      <% } %>
      <div class="card-excerpt">
        <%= strip_html(post.content) %>
      </div>
      <div class="card-post-footer">
        <div class="post-meta">
          <time datetime="<%= date_xml(post.date) %>">
            <i class="iconfont icon-calendar" style="margin-right: 2px;"></i>
            <span><%= date(post.date) %></span>
          </time>
          <% if(post.categories && post.categories.data.length) { %>
            <% let categoriesMap = [] %>
            <% for(const item of post.categories.data) { %>
              <% if(item.parent) { %>
                <% categoriesMap.push(item.parent) %>
              <% } %>
            <% } %>
            <span class="dot"></span>
            <% for(const item of post.categories.data) { %>
              <% if(categoriesMap.findIndex(x => x === item._id) !== -1) { %>
                <% continue %>
              <% } %>
              <a href="<%= url_for(item.path) %>" class="post-meta-link">
                <%= item.slug %>
              </a>
            <% } %>
          <% } %>
        </div>
        <a href="<%= url_for(post.path) %>"><%- __('readmore.title') %></a>
      </div>
    </article>
  </div>
<% }); %>
<% if(page.total > 1 ) { %>
  <%- partial('_partial/pagination', { 
      prev_label: __('prev_page.title'), next_label: __('next_page.title'),
      prev_link: page.prev_link, next_link: page.next_link,
      prev_title: null, next_title: null
    }) %>
<% } %>
